[mysqld]
# 开启 binlog
log-bin=mysql-bin
binlog-format=ROW
server-id=1

# Canal 需要的配置
gtid_mode=on
enforce_gtid_consistency=on
binlog_row_image=FULL

# 性能优化（内存限制下）
innodb_buffer_pool_size=128M
max_connections=50
